.logoWrap{
    padding-top: 10px;
    padding-bottom: 9px;
}

.icon-holder{
    width: 55px;
    height: 40px;
    /* padding-left: 15px; */
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}