.menuitems{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 25px;
    padding-bottom: 25px; */
    
    /* border: 1px solid blue; */
    list-style: none;
    text-decoration: none;
    padding-top: 13px;
}

.menuitems a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}