.searchBar{
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.inputArea{
    padding: 8px;
    color: rgb(109, 109, 109);
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(233, 233, 233);
    justify-content: center;

}

.inputArea::after{
    border: none;
    outline: none;
}