.modal-wrapper{
	top: 80px;
    bottom: 43px;
    right: 10px;
	/* width: 100px; */
    /* left: 0px; */
    position: fixed;
    /* height: 60vh; */
    width: 30vw;
    background: #ccc;
    z-index: 99;
}
.flex-end{
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
.inner-head{
	width: 100% fit-content;
	height: 50px;
	background-color: rgba(255, 63, 108, .8);
}
.card-wrapper{
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	/* border: solid 1px red; */
	margin-top: 30px;
	background-color: #fff;
}
.inner-product-image {
		width: 100vw;
		height: 100vh;
	}
	.inner-card-info h3,
	p {
		margin: 2px;

	}


	.popcard-wrapper{
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		font-size: 11px;
	}

	.popcard-bg-wrapper{
		background-color: white;
		padding: 5px;
		width: 97%;
	}

	.popcart-product-image{
		width: 70px;
	}
	.popcard-info-wrap{
		flex-direction: column;
		padding: 3px;
		padding-left: 10px;
	}
	.popcard-info{
		display: flex;
		flex-direction: row;
	}

	.popcart-right-content{
		overflow-y: auto;
		max-height: 60vh;
	}
